.row input {
  display: none;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 34%;
}

.leftcolumn .card {
  min-height: 700px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 66%;
  padding-left: 20px;
}

.rightcolumn .card {
  min-height: 340px;
}

@keyframes cardContainerLoad {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* Responsive layout - when the screen is less than
 800px wide, make the two columns stack on top of 
 each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
